<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resourceMapper">

    <insert id="insertResource">
    
        INSERT INTO TH_RESOURCE
        (
            NODE_IP,
            UPDATE_TIME,
            CPU_USAGE,
            MEM_USAGE,
            DISK_USAGE,
            NET_RECEIVE,
            NET_SEND,
            NET_RECEIVE_VARIANCE,
            NET_SEND_VARIANCE,
            IO_WAIT,
            LOAD_AVG
        )
        VALUES
        (
            #{ip},
            #{datetime},
            #{cpu_usage},
            #{ram_usage},
            #{disk_usage},
            #{network_receive},
            #{network_send},
            #{network_receive_variance},
            #{network_send_variance},
            #{iowait},
            #{load_avg}
        );
    </insert>

    <select id="selectPrevResource" resultType="map">
        SELECT 
            * 
        FROM 
            TH_RESOURCE 
        WHERE 
            NODE_IP = #{serverIp} AND
            UPDATE_TIME = 
            (
                SELECT
                    MAX(UPDATE_TIME)
                FROM
                    TH_RESOURCE
                WHERE
                    NODE_IP = #{serverIp}
            ); 
    </select>
    
    <select id="selectThresholdByServerIp" resultType="map">
        SELECT
            NODE.NODE_ID AS NODE_ID,
            THRESHOLD.CPU_THRESHOLD AS CPU_THRESHOLD,
            THRESHOLD.MEMORY_THRESHOLD AS MEMORY_THRESHOLD,
            THRESHOLD.DISK_THRESHOLD AS DISK_THRESHOLD
        FROM
            TC_THRESHOLD THRESHOLD,
            TB_NODE NODE
        WHERE
            THRESHOLD.NODE_ID = NODE.NODE_ID AND
            NODE.NODE_IP = #{serverIp};
    </select>
    
    <insert id="insertAlert" parameterType="java.util.List">
        INSERT INTO TH_ALERT
        (
            NODE_ID,
            UPDATE_TIME,
            ALERT_TYPE,
            ALERT_LEVEL,
            ALERT_MESSAGE
        )
        VALUES
        <foreach item="item" index="index" collection="list" separator=",">
        (   
            #{item.nodeId},
            str_to_date(#{item.updateTime}, '%Y%m%d%H%i%s'),
            #{item.alertType},
            #{item.alertLevel},
            #{item.alertMessage}
        )
        </foreach>
    </insert>
</mapper>